.hide {
    display: none;
}

.show {
    display: block;
}

svg {
    fill: #000;
    width: 24px;
    height: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.modal__btn {
    padding: 6px 10px;
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
}

.modal.show{
    display: block;
}


.modal__dialog {
    width: 40%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__content {
    position: relative;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
}

.modal__btn {
    padding: 10px 30px;
    background-color: #303030;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 4px 15px rgb(0 0 0 / 20%);
    font-family: Roboto, sans-serif;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgb(0 0 0 / 20%);
    border: none;
    font-size: 18px;
    text-align: center;

}

.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}


.block-notifications {
    position: absolute;
    top: 20px;
    right: 20px;
    overflow: hidden;
    z-index: 15;
}

.notification {
    display: none;
    margin-bottom: 10px;
    width: 260px;
    border: 1px solid black;
    border-radius: 10px;
}



.notification.show{
    display: block;
}

/*стили для ошибок*/
.notification.error {
    background-color: red;
}

.notification.success {
    background-color: green;
}

.notification.warning {
    background-color: yellow;
}

.notification.info {
    background-color: white;
    border: 1px solid black;
}


.notifications__content {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.notifications__text p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.notifications__close {
    font-size: 30px;
}

.notifications__close {
    cursor: pointer;
}




@media screen and (max-width: 700px) {
    .modal__dialog {
        width: 100%;
    }
}



.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}
@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}